@use "../../../index.scss" as *;

.faq {
    background-image: url('../../../assets/faq/blue-rose-left.png'), url('../../../assets/faq/blue-rose-right.png');
    background-repeat: no-repeat;
    background-position: top left, top right;
    position: relative;
    min-height: 130vh;

  .faq-title {
    display: flex;
    align-items: center;
    gap: 30px;

    .faq-stick {
      @include backGreen;
      width: 65px;
      height: 1px;
    }
  }

  .faq-accardion {
    margin-top: 40px;
    max-width: 850px;

    .faq-block {
      border: 1px solid #43ffd2;
      padding: 20px;
      position: relative;
      font-size: 20px;

      @media (max-width: 1000px) {
        font-size: 18px;
      }

      @media (max-width: 400px) {
        font-size: 14px;
      }

      .faq-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        padding: 20px;
      }

      .faq-close:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 1px;
        @include backGreen;
      }

      .faq-open {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        padding: 20px;
      }

      .faq-open::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 1px;
        @include backGreen;
      }

      .faq-open::before {
        content: "";
        position: absolute;
        right: 10px;
        top: 10px;
        width: 15px;
        height: 1px;
        @include backGreen;
        rotate: 90deg;
      }

      .faq-block-title {
        @include colorGreen;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (max-width: 550px) {
          margin-bottom: 10px;
        }

      }

      .faq-block-text {
        line-height: 30px;
        font-weight: 300;

        @media (max-width: 550px) {
          line-height: 20px;
        }
      }

      .faq-block-text-unvis {
        display: none;
      }
    }

    .faq-block + .faq-block {
      margin-top: 10px;
    }
  }

  .light-blue{
    width: 400px;
    height: 300px;
    background-color: #3D5279;
    filter: blur(100px);
    z-index: -1;
  }

  .faq-light-top-left{
    position: absolute;
    top: 0;
    left: -10%;
  }

  .faq-light-top-right{
    position: absolute;
    right: 0;
    top: 0;
  }

  .faq-light-bottom-left{
    position: absolute;
    bottom: 0;
    left: -10%;
  }

  .faq-light-bottom-right{
    position: absolute;
    bottom: -15%;
    right: -10%;
  }
}
