@use "../../../index.scss" as *;

.delivery-pay {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;

  background-image: url("../../../assets/deliveryAndPay/rose-top.png"),
    url("../../../assets/deliveryAndPay/rose-left.png"), url('../../../assets/deliveryAndPay/rose-bottom.png');
  background-repeat: no-repeat;
  background-position: top right, left center, right bottom;
  background-size: auto, auto, auto;

  @media (max-width: 800px) {
    background-size: contain;
  }

  .dp-title-main {
    margin-left: 95px;

    @media (max-width: 400px) {
      margin-left: 40px;
    }
  }

  .dp-title {
    @include colorPink;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 100px 0 20px;

    @media (max-width: 800px) {
      font-size: 16px;
      margin: 60px 0 20px;
    }
  }

  .dp-list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 800px) {
      gap: 15px;
    }
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    .dp-item {
      @include shadowZeroTwo;
      width: 255px;
      height: 200px;
      padding: 30px;
      border-radius: 25px;
      @include display;

      @media (max-width: 800px) {
        padding: 15px;
      }

      .dp-item-circle {
        width: 11px;
        height: 11px;
        background-color: #6b535f;
        border-radius: 50%;
        position: absolute;
        top: 20px;
      }
    }
  }
  .dp-text {
    font-size: 16px;

    @media (max-width: 800px) {
      font-size: 14px;
    }
  }

  .delivery-pay_dilevery {
    margin-left: 125px;

    @media (max-width: 500px) {
      margin-left: 40px;
    }

    .dp-bold {
      font-weight: 700;
    }

    .dp-text + .dp-text {
      margin-top: 10px;
    }
  }
  .dp-style-circle {
    list-style-type: disc;

    &::marker {
      font-size: 0.6rem;
    }
  }
  .dp-green {
    @include colorGreen;
  }

  .dp-dop {
    margin-top: 130px;
    @include shadowZeroTwo;
    padding: 20px 30px;

    @media (max-width: 500px) {
      margin-top: 40px;
    }

    .dp-dop-title {
      margin: 20px 0;
    }

    .dp-text-list {
      margin-left: 20px;
    }

    .dp-text {
      text-transform: initial;
      line-height: 30px;
      font-size: 20px;

      @media (max-width: 800px) {
        font-size: 16px;
      }
    }
    .dp-text-margin {
      margin-top: 30px;
    }
  }

  .dp-img-signa {
    @media (max-width: 500px) {
      display: none;
    }
  }

  .mini-light-white {
    width: 400px;
    height: 200px;
    background-color: #6b535f;
    filter: blur(80px);
    z-index: -1;
  }

  .light-white {
    width: 600px;
    height: 400px;
    background-color: #6b535f;
    filter: blur(100px);
    z-index: -1;
  }

  .dp-light-white-1 {
    position: absolute;
    left: 0;
    top: 0;
  }

  .dp-light-white-2 {
    position: absolute;
    right: 0;
    top: -5%;
    rotate: -45deg;
  }

  .dp-light-white-3 {
    position: absolute;
    right: 60%;
    top: 20%;
  }

  .dp-light-white-4 {
    position: absolute;
    right: 20%;
    top: 15%;
  }

  .dp-light-white-5 {
    position: absolute;
    top: 45%;
    left: 0;
  }

  .dp-light-white-6 {
    position: absolute;
    top: 55%;
    right: 20%;
  }

  .dp-light-white-7 {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .dp-light-white-8 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
