@use "../../../index.scss" as *;

.popular-bucket {
  background-image: url("../../../assets/populatBucket/back-golf&black.png");
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 90px;
  position: relative;

  @media (max-width: 1200px) {
    background-size: 70% 70%;
  }

  @media (max-width: 670px) {
    background-size: contain;
  }

  .popular-bucket-title {
    .title-config {
      margin-left: 20%;
    }
  }

  .popular-bucket-text {
    text-align: center;
    margin: 20px 0 85px;
    @include text;

    @media (max-width: 670px) {
      margin: 20px 0;
    }
  }

  .pb-pink {
    position: absolute;
    bottom: 20%;
    left: 10%;
    rotate: 45deg;
  }

  .pb-green {
    position: absolute;
    bottom: 15%;
    left: -20%;
    rotate: 45deg;
  }

  .pb-carousel {
    @include display;
    gap: 20px;
    position: relative;

    .arrow-left {
      position: absolute;
      top: -20px;
      right: 10%;

      @media (max-width: 950px) {
        right: 20%;
      }
    }

    .arrow-right {
      position: absolute;
      top: -20px;
      right: 0;
    }

    .arrow {
      cursor: pointer;

      @media (max-width: 670px) {
        display: none;
      }
    }

    .carousel-carousel {
      overflow: hidden;

      .carousel-block {
        display: flex;
        justify-content: center;
        gap: 30px;

        @media (max-width: 1100px) {
          gap: 10px;
        }

        @media (max-width: 670px) {
          flex-wrap: wrap;
        }

        .grey-card {
          filter: grayscale(1);
          width: 250px;
          height: 300px;

          @media (max-width: 820px) {
            width: 200px;
            height: 250px;
          }
          
        }
      }
    }
  }

  .pb_watch-catalog {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 60px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    @include colorPink;

    @media (max-width: 390px) {
      font-size: 10px;
    }
  }
}
