@use '../../index.scss' as *;

.search{
    position: relative;

    .search-container{
        text-transform: uppercase;
        min-height: 50vh;

        .search-title{
            @include colorGreen;
            margin-bottom: 50px;
            font-size: 30px;
        }

        .search-items{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        .search-no-find{
            font-size: 20px;
        }

        .search-to{
            margin-top: 20px;
            @include btn;
        }
    }

    .common{
        position: absolute;
        z-index: -10;
    }

    .green-top{
        top: -5%;
        left: -5%;
    }
    .pink-top{
        top: 0;
        right: -5%;
        rotate: -20deg;
    }
    .green-bottom{
        bottom: -10%;
        right: -10%;
        rotate: 30deg;
    }

    .pink-bottom{
        bottom: -5%;
        left: -5%;
    }
}